{% extends "base.html" %}

{% block title %}ChatRoom{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>Welcome to ChatRoom, {{username}}!</h1>
</div>
<ul id="message_list">
    {% for message in messages %}
        {% if message["sender"] == "System"%}
            <li>{{message["text"]}}</li>
        {% else %}
            <li>{{message["sender"]}}: {{message["text"]}}</li>
        {% endif %}
    {% endfor %}
</ul>
<input id="message" type="text" name="message" placeholder="Enter your message...">
<input id="send_message" type="button" value="Send">
<a href="\logout">Leave</a>

<script type="text/javascript">
    socket = io();
    msg_input = document.getElementById('message');
    document.getElementById('send_message').onclick = send_message;
    msg_input.addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            send_message()
        }
    });

    function send_message() {
        socket.emit('send_message', msg_input.value)
        msg_input.value = ''
    };

    function show_message(message){
        var li = document.createElement('li');
        li.innerHTML = message
        msg_list = document.getElementById('message_list');
        msg_list.appendChild(li)
    }

    socket.on('system_message', (text) => show_message(`${text}`))
    socket.on('user_message', (sender, text) => show_message(`${sender}: ${text}`))
</script>
{% endblock %}